.product-display-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem 0;
  box-shadow: 0 0 10px 2px #ddd;

  .small-images img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid #2e3c8700;
    border: 2px solid #1196ab;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 0 3px 2px #c8f3fa;
    background-color: transparent;
    margin: 0.5rem;
  }

  .small-images img.active {
    border: 2px solid blue;
  }

  .main-image img {
    width: 100%;
    height: auto;
  }

  .text-bold {
    font-weight: 700 !important;
    font-size: 16px !important;
    line-height: 24px !important;
  }

  .offer-badge {
    background-color: #b12704;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
  }

  .rating {
    color: #f8e825;
    .rating-text {
      font-size: 14px;
      font-weight: bold;
      color: black;
    }
  }

  .price {
    font-size: 24px;
    font-weight: bold;
    margin: 0.5rem 0;
  }

  .original-price {
    text-decoration: line-through;
    color: #888;
    font-size: 16px;
    margin: 0.5rem;
  }

  .offer-card {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
  }

  .offer-card-title {
    font-weight: bold;
  }
}
